<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854104840843-lug50f8a8q7p53nbatktgfot4qmbfq63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854104840843-lug50f8a8q7p53nbatktgfot4qmbfq63</string>
	<key>API_KEY</key>
	<string>AIzaSyA4dfanNejcVd6R9MVV0OV9pBr-tv3Wvk8</string>
	<key>GCM_SENDER_ID</key>
	<string>854104840843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>tv-series-188ee</string>
	<key>STORAGE_BUCKET</key>
	<string>tv-series-188ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854104840843:ios:e20bcf2552d1066a87528e</string>
</dict>
</plist>